* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #29292e;
  --white: #ffffff;
  --background: #f8f8f8;
  --details: #fefefe;
  --shadow: #050206;
  --purple: #835afd;
  --purple-hover: #6f4bd8;
  --gradient: linear-gradient(139.44deg, #485bff 0%, #ff59f8 96.19%);
  --danger: #e73f5d;
  --danger-hover: #d73754;
  --gray-dark: #737380;
  --gray-medium: #a8a8b3;
  --gray-medium-hover: #7e7e86;
  --gray-light: #dbdcdd;
  --gray-light-hover: #cecece;
  --pink-dark: #e559f9;
  --pink-light: #d67ee2;
  --red-google: #ea4335;
}

body {
  background: var(--background);
}

body,
input,
button,
textarea {
  font: 400 16px "Roboto", sans-serif;
}
